* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  position: relative;
  background-color: mediumseagreen;
  color: white;

  header {
    width: 100%;
    position: fixed;
    transition: transform 0.3s ease-in;

    &.hidden {
      transform: translateY(-56px);
    }
  }

  .scroll-container {
    padding: 15px;
  }

  img {
    width: 100%;
    margin-bottom: 40px;
  }
}
